body { font:13px/1.4 Arial, sans-serif; margin:50px; background:gray; }
#tooltip { text-align:center; background:black; color:white; padding:3px 0; width:60px; position:fixed; display:none; white-space:nowrap; }

